body {
	font-family: 'Asap', sans-serif;
	font-size: 1.4rem;
	margin: 0;
	padding: 0 0 12rem;
	font-weight: 400;
}
/* alphabet navigation */
ol {
	position: fixed;
	top: 0;
	background: rgba(255,255,255,0.9);
	margin: 0;
	padding: 0.5rem;
	text-align: center;
	width: 100%;
	z-index: 1;
}
ol li {
	list-style: none;
	line-height: 1.75;
	display: inline-block;
	text-transform: uppercase;
	color: rgba(0,0,0,0.5);
}
ol li a {
	display: inline-block;
	width: 3rem;
	padding: 0.2rem 0;
	text-align: center;
	border-radius: 100%;
	position: relative;
	border: none;
}
ol li a:hover {
	background: rgba(255,180,0,0.5);
	border: none;
}

/* definition list */
dl {
	margin: 0 auto;
	padding-top: 8rem;
	width: 90%;
	max-width: 48rem;
}
dt, dd {
	display: inline-block;
	margin: 0 0 2rem 0;
	border-top: 1px solid #eee;
	padding-top: 2rem;
	vertical-align: top;
	white-space: collapse;
}
dt {
	width: 17%;
	min-width: 4rem;
}
dd {
	width: 82%
}

p {
	font-size: 1.2rem;
	margin: 0.8rem 0;
	color: rgba(0,0,0,0.75);
	max-width: 36em;
}
a {
	color: rgba(0,0,0,0.75);
	text-decoration: none;
	border-bottom: 1px solid rgba(0,0,0,0.75);
}
a:hover {
	color: rgba(0,0,0,0.9);
	background: rgba(255,180,0,0.1);
	border-bottom: 1px solid rgba(255,180,0,0.75);
}

/* labels */
dd::before {
	content: '';
	color: rgba(0,0,0,0.75);
	display: inline-block;
	float: right;
	font-size: 1.2rem;
	padding: 0 0.4rem 0.05rem;
	text-align: center;
	border-radius: 0.4rem;
}
.software::before {
	content:'software';
	background: rgba(255,255,2,0.15);
}
.fintech::before {
	content:'fintech';
	background: rgba(2,255,255,0.15);
}
.ux::before {
	content:'ux';
	background: rgba(255,2,255,0.15);
}